ErrorDocument 404 "<!doctype html><html><head><link rel=stylesheet href=style.css><title>Error 404</title><meta charset=windows-1250></head><body><h1 style=padding:0;margin:0;>Error 404 – str&#225;nka nenalezena</h1> 	<p>Pokud se jedn&#225; o chybu, <a href=mailto:bajker006@gmail.com>kontaktuj administr&#225;tora</a>.</p><p><a href=index.php>J&#237;t dom&#367;.</a></p></body></html>"
ErrorDocument 403 "<!doctype html><html><head><link rel=stylesheet href=style.css><title>Error 403</title><meta charset=windows-1250></head><body><h1 style=padding:0;margin:0;>Error 403</h1> 	<p>Pokud se jedn&#225; o chybu, <a href=mailto:bajker006@gmail.com>kontaktuj administr&#225;tora</a>.</p><p><a href=index.php>J&#237;t dom&#367;.</a></p></body></html>"
ErrorDocument 500 "<!doctype html><html><head><link rel=stylesheet href=style.css><title>Error 500</title><meta charset=windows-1250></head><body><h1 style=padding:0;margin:0;>Error 500</h1> 	<p>Pokud se jedn&#225; o chybu, <a href=mailto:bajker006@gmail.com>kontaktuj administr&#225;tora</a>.</p><p><a href=index.php>J&#237;t dom&#367;.</a></p></body></html>"