body {
	font: 1.5rem Calibri, sans-serif;
}

.button {
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	color: white; 
	border-radius: 12px;
	font-family: Calibri;
}

.button:hover {
	background-color: white;
	color: black;
}

.yes {
	background-color: #4CAF50;
	font-size: 1.8rem;
	border: 2px solid #4CAF50;
}
.black {
	background-color: #000;
	font-size: 1.8rem;
	border: 2px solid #000;
}



/* index */

#index .logout {
	background-color: #ccc;
	font-size: 1.6rem;
	border: 2px solid #ccc;
}
#index .logout:hover {
	background-color: white;
}
#index a {width:200px; font-size: 1.6rem; height:30px;}
#index #logout-text {visibility: hidden;}
#index .logout-m {position:fixed; height: 30px; width: 25px; opacity:0.5; }
#index .logout-m:hover {opacity:1;}

#index .login {
	background-color: greenyellow;
	font-size: 1.6rem;
	border: 2px solid greenyellow;
}
#index .login:hover {
	background-color: white;
}
#index #login-text {visibility: hidden;}
#index .login-m {position:fixed; height: 30px; width: 25px; opacity:0.5; }
#index .login-m:hover {opacity:1;}

.index-hdr-m {font-size:2rem;}
.odkaz {width:100%;}
.prehled-m td{display:block;}

/* responsive */
@media only screen and (min-width: 610px) {
	.index-hdr {font-size:2em;}
	body{font-size:2rem;}
	#login input[type=text], #login input[type=password], #registrace input[type=text], #registrace input[type=password], #novy-room input[type=text], #novy-room input[type=password], #roomlog input[type=text], #room input {
		font-size:1.5rem;
	}
	.prehled-m td {display:table-cell;}
}

@media only screen and (min-width: 860px) {
	#index #logout-text {visibility: visible; }
	#index .logout {position:fixed; height: 30px; width: 200px;}
	
	#index #login-text {visibility: visible; }
	#index .login {position:fixed; height: 30px; width: 200px;}
}

@media only screen and (min-width: 1260px) {
	#index a {position:fixed; width:200px; height:30px;}
	#index #logout-text {visibility: visible; }
	#index .logout {position:fixed; height: 30px; width: 200px; opacity:1; }
	
	#index #login-text {visibility: visible; }
	#index .login {position:fixed; height: 30px; width: 200px; opacity:1; }
}



.no {
	background-color: red;
	font-size: 1.5rem;
	border: 2px solid red;
}

.blue {
	background-color: #82e9ff;
	font-size: 2rem;
	border: 2px solid #82e9ff;
}



/* input */
#login input[type=text], #login input[type=password], #registrace input[type=text], #registrace input[type=password], #novy-room input[type=text], #novy-room input[type=password], #roomlog input[type=text] {
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#login input[type=text]:focus, #login input[type=password]:focus, #registrace input[type=text]:focus, #registrace input[type=password]:focus, #novy-room input[type=text]:focus, #novy-room input[type=password]:focus, #roomlog input[type=text]:focus {
    border: 3px solid #555;
}

#login td {min-width:90px;}
#registrace td {min-width:180px;}


#room table, #room th, #room td {
	border: 3px solid #e5e5e5;
}
#room #info{
	font-weight: 1000;
}
#room #chat .ja{
	text-transform: uppercase;
}
#room #chat .owner{
	font-weight: bold;
}
#room th, #room td {
    padding: 5px 10px 5px 10px;
}
#room #text, #room #cas, #room #submit {
	padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
	-webkit-transition-duration: 1s; /* Safari */
	transition-duration: 1s;
}
#room #submit {
	border-radius: 10px;
	border: 2px solid #4CAF50;
	background-color: #4CAF50;
	color: #fff;
}
#room #submit:hover {
	background-color: #fff;
	color: #000;
	cursor:pointer;
}
#room #text:focus, #room #cas:focus {
    border: 2px solid #888;
}
input {
font-size: 1rem;
}
#rolovat {
	-webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;
	overflow-y: hidden;
	background-color:#82e9ff;
	border-radius: 15px;
	cursor:pointer;
}